﻿@model dynamic

@{
    ViewBag.Title = "Add Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="user" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Existing Players</h2>
            <ul class="list-group">
                <li ng-repeat="user in users" class="list-group-item">{{user.Name}}</li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <h4>Add a new Player</h4>
            <form role="form">
                <div class="form-group">
                    <input placeholder="Name" type="text" id="user-name" name="Name" ng-model="userName" class="form-control" value="" />
                </div>
            </form>
            <input type="submit" id="add-user-submit" ng-click="addUser()" name="submit" class="btn btn-primary" />
        </div>
    </div>
</div>

