﻿@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" ng-controller="history">
    <h2>History</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default"ng-click="searchHistory()" type="button">Go!</button>
                </span>
                <input ng-model="searchedPlayer" type="text" class="form-control" placeholder="Search for Players...">
            </div>
        </div>
    </div>
    <div>
        <div class="row" ng-repeat="match in matches">
            <hr/>
            <div class="col-md-12 col-sm-12 col-xs-12"><h4><small>{{match.MatchDate | date:"MM/dd/yyyy 'at' h:mma"}}</small></h4></div>
            <div class="col-md-4 col-sm-4 col-xs-4" ng-class="match.Player1.Name == match.Winner ? 'text-success' : 'text-danger'">
                <h4 class="list-group-item-heading">{{match.Player1.Name}}</h4>
                <h4 class="list-group-item-text">{{match.Player1.Team}}</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class=" pagination" style="font-size: 23px;">
                    <span ng-class="match.Player1.Name == match.Winner ? 'text-success' : 'text-danger'">{{match.Player1.Goals}}</span>
                    <span> &nbsp;- </span>
                    <span ng-class="match.Player2.Name == match.Winner ? 'text-success' : 'text-danger'">{{match.Player2.Goals}}</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" ng-class="match.Player2.Name == match.Winner ? 'text-success' : 'text-danger'">
                <h4 class="list-group-item-heading">{{ match.Player2.Name}}</h4>
                <h4 class="list-group-item-text">{{match.Player2.Team}}</h4>
            </div>
                <hr />
            </div>
    </div>
</div>