﻿<div ng-controller="league" class="container">
    <div class="jumbotron">
        <h2>League Table</h2>
    </div>
    <div class=" row">
        <table class="table">
            <tr class="info">
                <th>Player</th>
                <th>Game Won</th>
                <th>Game Loss</th>
                <th>Goals Scored</th>
                <th>Goals Conceded</th>
                <th>WinPercentage</th>
            </tr>
            <tr ng-repeat="player in leagueTable | orderBy: ['-WinPercentage', '-GameWon', 'GameLoss', '-GoalScored', 'GoalConceded']" ng-class="$index == 0 ? 'success' : $index == leagueTable.length - 1 ? 'danger' : 'warning'">
                <td>{{player.Name}}</td>
                <td>{{player.GameWon}}</td>
                <td>{{player.GameLoss}}</td>
                <td>{{player.GoalScored}}</td>
                <td>{{player.GoalConceded}}</td>
                <td>{{player.WinPercentage}}</td>
            </tr>
        </table>
    </div>
</div>
