﻿@model dynamic

@{
    ViewBag.Title = "Submit a Match Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Match Details</h2>
<hr />
<div ng-controller="matchReport" class="container">
    <div class="row">
        <div class="col-lg-5">
            <form role="form">
                <h3>Player 1</h3>
                <div class="form-group">
                    <label for="player-name-1">Name:</label>
                    <select required ng-model="player1.Name" ng-change="WinnerOptions()" class="form-control" id="player-name-1">
                        <option style="display: none" value="">Select a Player</option>
                        <option class="col-sm-5" ng-repeat="user in users">{{user.Name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="player-team-1">Team name:</label>
                    <input ng-model="player1.Team" class="form-control" id="player-team-1">
                </div>
                <div class="form-group">
                    <label for="player-goal-1">Goals:</label>
                    <input ng-model="player1.Goals" class="form-control" id="player-goal-1" type="number" min="0" max="10" maxlength="2">
                </div>
            </form>
        </div>
        <div class="col-lg-5">
            <form role="form">
                <h3>Player 2</h3>
                <div class="form-group">
                    <label for="player-name-2">Name:</label>
                    <select ng-model="player2.Name" ng-change="WinnerOptions()" class=" form-control" id="player-name-2">
                        <option style="display: none" value="">Select a Player</option>
                        <option class="col-sm-5" ng-repeat="user in users">{{user.Name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="player-team-2">Team name:</label>
                    <input ng-model="player2.Team" class="form-control" id="player-team-2">
                </div>
                <div class="form-group">
                    <label for="player-goal-2">Goals:</label>
                    <input ng-model="player2.Goals" class="form-control" id="player-goal-2" type="number" min="0" max="10" maxlength="2">
                </div>
            </form>
        </div>
        <div class="col-lg-2">
            <h4>Winner:</h4>
            <form role="form">
                <div class="form-group">
                    <select ng-model="winner" class=" form-control" id="winner-name">
                        <option style="display: none" value="">Select Winner</option>
                        <option class="col-sm-5" ng-repeat="user in Winners track by $index">{{user}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="addMatchReport()">Submit</button>
</div>
